@import url(https://fonts.googleapis.com/css?family=Roboto:regular,italic,500,500italic,700,700italic&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #171725;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[data-showmore-button] span:last-child {
  display: none;
}

._showmore-active [data-showmore-button] span {
  display: none;
}

._showmore-active [data-showmore-button] span:last-child {
  display: block;
}

.footer {
  background-color: #D9D9D9;
}

.footer__container {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.footer__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 150px;
          flex: 0 0 150px;
}

.footer__logo img {
  width: 100%;
}

.footer span {
  padding-top: 2px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.material-symbols-outlined.info-icon {
  -webkit-transform: scale(0.65);
      -ms-transform: scale(0.65);
          transform: scale(0.65);
}

span .material-symbols-outlined.info-icon {
  -webkit-transform: scale(0.65) translate(0px, 9px);
      -ms-transform: scale(0.65) translate(0px, 9px);
          transform: scale(0.65) translate(0px, 9px);
}

.material-symbols-outlined.video-icon {
  -webkit-transform: translate(0px, 4px);
      -ms-transform: translate(0px, 4px);
          transform: translate(0px, 4px);
}

.page {
  padding: 30px;
}

.page__container {
  -webkit-box-shadow: 1px 0 26px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 1px 0 26px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
}

.banner {
  width: 100%;
  height: auto;
  background-color: #D9D9D9;
  border-radius: 19px;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-wrapper {
  width: 100%;
  position: relative;
}

.content {
  width: 60%;
}

.top-line {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-line__bubble {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  padding: 7px 12px;
  background-color: #EFEFEF;
  border-radius: 8px;
  margin-bottom: 15px;
}

.top-line__bubble span {
  line-height: 100%;
  font-weight: 600;
  font-size: 14px;
}

.start-date {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 18px;
}

.title {
  font-weight: 700;
  line-height: 125%;
}

.short-description {
  font-weight: 500;
  font-size: 14px;
  line-height: 170%;
}

.sub-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 125%;
  margin-bottom: 15px;
}

.info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
}

.info-block__right-col {
  padding-top: 2px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.grey-text {
  color: #6f7287;
}

.show-map__link {
  color: #1a237e !important;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding: 10px 0 20px;
  width: 100px;
}

.show-map__map {
  display: none;
}

.show-map .first-text {
  display: block;
}

.show-map .second-text {
  display: none;
}

.show-map img {
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.show-map.show .first-text {
  display: none;
}

.show-map.show .second-text {
  display: block;
}

.show-map.show .show-map__map {
  display: block;
  width: 100%;
  height: 300px;
  background-color: #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.show-map.show img {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

u {
  text-decoration: underline;
}

b,
strong {
  font-weight: 700;
}

i,
em {
  font-style: italic;
}

ul {
  margin-bottom: 10px;
}

ul li {
  margin-left: 25px;
  list-style-type: disc;
}

ol {
  margin-bottom: 10px;
}

ol li {
  margin-left: 25px;
  list-style-type: decimal;
}

p {
  margin-bottom: 10px;
}

.text-block,
.grey-text {
  font-size: 16px;
  line-height: 24px;
}

a {
  color: #1a237e;
}

.text-block__more {
  margin-top: 12px;
  color: #1a237e;
  position: relative;
}

.text-block__more::after {
  content: "";
  position: absolute;
  top: 3px;
  right: -23px;
  height: 20px;
  width: 20px;
  display: block;
  background: url("../img/logo/arrow_down.svg") 100% center no-repeat;
}

._showmore-active .text-block__more::after {
  content: "";
  top: 2px;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.sticky-block-wrapper {
  position: sticky;
  top: 30px;
  left: 100%;
  z-index: 2;
}

.sticky-block {
  padding: 24px;
  border: 1px solid #6f7287;
  border-radius: 15px;
  width: 37%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  z-index: 2;
}

.sticky-block__content {
  border: 2px solid #761B7B;
  -webkit-box-shadow: inset 0 0 0 2px #761B7B;
          box-shadow: inset 0 0 0 2px #761B7B;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  z-index: 2;
}

.sticky-block__top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.sticky-block__text {
  font-weight: 500;
  line-height: 150%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 80%;
          flex: 1 1 80%;
}

.sticky-block__quantity {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
}

.sticky-block__bottom-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.sticky-block__price {
  margin-top: 15px;
  font-weight: 500;
  line-height: 150%;
}

.sticky-block__price-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18px;
          flex: 0 0 18px;
}

.sticky-block__button {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  line-height: 24px;
  font-weight: 500;
  background-color: #1A237E;
  color: #fff;
  cursor: pointer;
  width: 100%;
  border-radius: 6px;
}

.sub-title .sticky-block__price-info,
span .sticky-block__price-info {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quantity__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  height: 30px;
  border-radius: 8px;
  background-color: #1A237E;
  color: #fff;
  font-size: 24px;
}

.quantity__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quantity__input input {
  text-align: center;
}

.event-video {
  position: relative;
  width: 100%;
  padding: 0 0 52.15% 0;
  margin-bottom: 30px;
}

.event-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background: #fff;
}

.tippy-box[data-animation=fade][data-state=hidden] {
  opacity: 0;
}

[data-tippy-root] {
  max-width: calc(100vw - 10px);
}

.tippy-box {
  position: relative;
  background-color: #fff;
  color: #171725;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.4;
  outline: 0;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 60%;
  -webkit-box-shadow: 0.821px 0px 16.41px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0.821px 0px 16.41px 0px rgba(0, 0, 0, 0.12);
  color: #78828A;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.038px;
  position: relative;
  z-index: 1;
  padding: 6px 8px;
  -webkit-transition-property: visibility, opacity, -webkit-transform;
  transition-property: visibility, opacity, -webkit-transform;
  transition-property: transform, visibility, opacity;
  transition-property: transform, visibility, opacity, -webkit-transform;
}

.tippy-box[data-placement^=top] > .tippy-arrow {
  bottom: 0;
}

.tippy-box[data-placement^=top] > .tippy-arrow:before {
  bottom: -7px;
  left: 0;
  border-width: 8px 8px 0;
  border-top-color: initial;
  -webkit-transform-origin: center top;
      -ms-transform-origin: center top;
          transform-origin: center top;
}

.tippy-box[data-placement^=bottom] > .tippy-arrow {
  top: 0;
}

.tippy-box[data-placement^=bottom] > .tippy-arrow:before {
  top: -7px;
  left: 0;
  border-width: 0 8px 8px;
  border-bottom-color: initial;
  -webkit-transform-origin: center bottom;
      -ms-transform-origin: center bottom;
          transform-origin: center bottom;
}

.tippy-box[data-placement^=left] > .tippy-arrow {
  right: 0;
}

.tippy-box[data-placement^=left] > .tippy-arrow:before {
  border-width: 8px 0 8px 8px;
  border-left-color: initial;
  right: -7px;
  -webkit-transform-origin: center left;
      -ms-transform-origin: center left;
          transform-origin: center left;
}

.tippy-box[data-placement^=right] > .tippy-arrow {
  left: 0;
}

.tippy-box[data-placement^=right] > .tippy-arrow:before {
  left: -7px;
  border-width: 8px 8px 8px 0;
  border-right-color: initial;
  -webkit-transform-origin: center right;
      -ms-transform-origin: center right;
          transform-origin: center right;
}

.tippy-box[data-inertia][data-state=visible] {
  -webkit-transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
          transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
}

.tippy-arrow {
  width: 16px;
  height: 16px;
  color: #fff;
}

.tippy-arrow:before {
  content: "";
  position: absolute;
  border-color: transparent;
  border-style: solid;
}

.tippy-content {
  position: relative;
  padding: 5px 9px;
  z-index: 1;
}

@media (min-width: 75em) {
  .page__container {
    border-radius: 2rem;
  }

  .page__container {
    padding: 2.5rem;
  }

  .content-wrapper {
    padding-top: 3rem;
  }

  .title {
    font-size: 3.25rem;
  }

  .title {
    margin-bottom: 2.1875rem;
  }

  .short-description {
    margin-bottom: 2.1875rem;
  }

  .info-block {
    margin-bottom: 2.1875rem;
  }
}

@media (max-width: 20em) {
  .page__container {
    border-radius: 0.75rem;
  }

  .page__container {
    padding: 0.625rem;
  }

  .content-wrapper {
    padding-top: 1.25rem;
  }

  .title {
    font-size: 1.875rem;
  }

  .title {
    margin-bottom: 1.375rem;
  }

  .short-description {
    margin-bottom: 1.5625rem;
  }

  .info-block {
    margin-bottom: 1.375rem;
  }
}

@media (max-width: 61.99875em) {
  .footer {
    padding-bottom: 155px;
  }

  .page {
    padding: 15px;
  }

  .content {
    width: 100%;
    padding-bottom: 80px;
  }

  .sticky-block-wrapper {
    position: fixed;
    top: initial;
    left: 0;
    bottom: 153px;
    width: 100%;
    z-index: 900;
  }

  .sticky-block {
    width: 100%;
    padding: 15px;
    height: 150px;
    overflow: auto;
  }

  .sticky-block__content {
    border: 0 solid #761B7B;
    -webkit-box-shadow: initial;
            box-shadow: initial;
    padding: 0;
  }

  .sticky-block__price {
    margin-top: 10px;
  }

  .sticky-block__price-info {
    margin-top: 10px;
  }

  .sticky-block__button {
    height: 36px;
    margin-top: 10px;
  }
}

@media (max-width: 47.99875em) {
  .page {
    padding: 0;
  }

  .banner {
    border-radius: 15px;
  }

  .top-line__bubble {
    border-radius: 6px;
    padding: 6px 10px;
  }

  .info-block {
    gap: 20px;
  }

  .sticky-block-wrapper {
    bottom: 133px;
  }

  .sticky-block {
    height: 130px;
  }

  .sticky-block__text {
    font-size: 15px;
  }

  .sticky-block__price {
    margin-top: 5px;
    font-size: 15px;
  }

  .sticky-block__price-info {
    margin-top: 5px;
  }

  .sticky-block__button {
    height: 32px;
    margin-top: 8px;
  }
}

@media (max-width: 29.99875em) {
  .banner {
    border-radius: 10px;
  }

  .top-line__bubble {
    padding: 5px 9px;
  }

  .info-block {
    gap: 10px;
  }

  .show-map.show .show-map__map {
    width: calc(100% + 40px);
    -webkit-transform: translate(-37px, 0px);
        -ms-transform: translate(-37px, 0px);
            transform: translate(-37px, 0px);
  }

  .sticky-block {
    padding: 12px 10px;
  }
}

@media (min-width: 20em) and (max-width: 75em) {
@supports (border-radius: clamp( 0.75rem , 0.2954545455rem  +  2.2727272727vw , 2rem )) {
    .page__container {
      border-radius: clamp( 0.75rem , 0.2954545455rem  +  2.2727272727vw , 2rem );
    }
}

@supports not (border-radius: clamp( 0.75rem , 0.2954545455rem  +  2.2727272727vw , 2rem )) {
    .page__container {
      border-radius: calc(0.75rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (padding: clamp( 0.625rem , -0.0568181818rem  +  3.4090909091vw , 2.5rem )) {
    .page__container {
      padding: clamp( 0.625rem , -0.0568181818rem  +  3.4090909091vw , 2.5rem );
    }
}

@supports not (padding: clamp( 0.625rem , -0.0568181818rem  +  3.4090909091vw , 2.5rem )) {
    .page__container {
      padding: calc(0.625rem + 1.875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.6136363636rem  +  3.1818181818vw , 3rem )) {
    .content-wrapper {
      padding-top: clamp( 1.25rem , 0.6136363636rem  +  3.1818181818vw , 3rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.6136363636rem  +  3.1818181818vw , 3rem )) {
    .content-wrapper {
      padding-top: calc(1.25rem + 1.75 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.875rem , 1.375rem  +  2.5vw , 3.25rem )) {
    .title {
      font-size: clamp( 1.875rem , 1.375rem  +  2.5vw , 3.25rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.375rem  +  2.5vw , 3.25rem )) {
    .title {
      font-size: calc(1.875rem + 1.375 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.375rem , 1.0795454545rem  +  1.4772727273vw , 2.1875rem )) {
    .title {
      margin-bottom: clamp( 1.375rem , 1.0795454545rem  +  1.4772727273vw , 2.1875rem );
    }
}

@supports not (margin-bottom: clamp( 1.375rem , 1.0795454545rem  +  1.4772727273vw , 2.1875rem )) {
    .title {
      margin-bottom: calc(1.375rem + 0.8125 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 1.3352272727rem  +  1.1363636364vw , 2.1875rem )) {
    .short-description {
      margin-bottom: clamp( 1.5625rem , 1.3352272727rem  +  1.1363636364vw , 2.1875rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 1.3352272727rem  +  1.1363636364vw , 2.1875rem )) {
    .short-description {
      margin-bottom: calc(1.5625rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.375rem , 1.0795454545rem  +  1.4772727273vw , 2.1875rem )) {
    .info-block {
      margin-bottom: clamp( 1.375rem , 1.0795454545rem  +  1.4772727273vw , 2.1875rem );
    }
}

@supports not (margin-bottom: clamp( 1.375rem , 1.0795454545rem  +  1.4772727273vw , 2.1875rem )) {
    .info-block {
      margin-bottom: calc(1.375rem + 0.8125 * (100vw - 20rem) / 55);
    }
}
}